<h1>Create Film</h1> 

<%=form_for(@film) do |f|%>
    
<div class="form-group">
    <%= f.label :Title %><br>
    <%= f.text_field :title, class: "form-control" %></div>

<div class="form-group">
    <%= f.label :Director %><br>
    <%= f.text_field :director, class: "form-control" %></div>

<div class="form-group">
    <%= f.label :Year %><br>
    <%= f.number_field :year, class: "form-control" %></div>

<div class="form-group">
    <%= f.label :Description %><br>
    <%= f.text_field :description, class: "form-control" %></div>

<div class="form-group">
    <%= f.label :Genre %><br>
    <%= f.text_field :genre, class: "form-control" %></div>

    <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
    </div>
    <% end %>



