<h1>View Film & Comments</h1>

<h1><%= @film.title %></h1> <small> added by: <%= @film.user.username %> </small></h1><br><br>

<b>Year:</b><%= @film.year %><br><br>

<b>Genre:</b><%= @film.genre.name %><br><br>

<b>Director:</b><%= @film.director %><br><br>

<b>Description:</b><%= @film.description %><br><br>

<%= link_to 'Edit', [:edit, @film] %>

<%= link_to 'Delete', @film, method: :delete, data: {:confirm => 'Are you sure?'} %>

