<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RailsFilmLibrary</title>

    

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
   

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
</nav>

% if !current_user %>
          <a class="navbar-brand" href="<%= root_url %>"/>Home</a>
          <a class="navbar-brand" href="<%= new_user_path %>"/>Sign Up</a>
          <%= link_to "Sign in", login_path, class:"navbar-brand" %>
          <% else %>
          <a class="navbar-brand" href="<%= films_path %>"/>Home</a>
          <%= link_to "#{current_user.username}'s Profile", user_path(current_user), class:"navbar-brand"%>
          <%= link_to "Sign Out", logout_path, class:"navbar-brand",method:'delete' %>
        <% end %>
        

      

    <%= yield %>
  </body>
</html>



<