<!DOCTYPE html>
<html>
  <head>
    <title>RailsFilmLibrary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <body>
    <div class="wrapper">
      <div class="topnav">
      
      
      <a href="/logout">Log Out</a>
      <a href="/films">Films</a>
      <a href= film_path(films)>Your Films</a>
      <a href="/films/new" > Add a Film </a>
      
      
    <%= yield %>
  </body>
</html>
